<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.passportscanner">

    <!-- NFC Permissions -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <!-- Internet Permission for fetching CRLs and other data -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Camera Permission for capturing passport photo -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.PassportScanner"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        
        <activity
            android:name=".HostActivity"
            android:exported="true"
            android:theme="@style/Theme.PassportScanner"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MRZInputActivity"
            android:exported="true"
            android:theme="@style/Theme.PassportScanner"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PassportScanner"
            android:screenOrientation="portrait">
            <!-- Intent filter for NFC tag discovery -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <!-- Secret Wallet Activity -->
        <activity
            android:name=".wallet.WalletActivity"
            android:exported="false"
            android:theme="@style/Theme.PassportScanner"
            android:screenOrientation="portrait" />
        
        <!-- Create Wallet Activity (Keplr-style flow) -->
        <activity
            android:name=".wallet.CreateWalletActivity"
            android:exported="false"
            android:theme="@style/Theme.PassportScanner"
            android:screenOrientation="portrait" />

        <!-- ANML Claim Activity -->
        <activity
            android:name=".ANMLClaimActivity"
            android:exported="false"
            android:theme="@style/Theme.PassportScanner"
            android:screenOrientation="portrait" />

        <!-- Actions Navigator Activity -->
        <activity
            android:name=".ActionsActivity"
            android:exported="false"
            android:theme="@style/Theme.PassportScanner"
            android:screenOrientation="portrait" />
    </application>

</manifest>